/* font style */
.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.bg-color{
    background-color: #F5F8FF;
}

/* nav section style starts here */
.navbar{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../assets/Hero-bg.png');
    text-align: center;
}
.nav-contents{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-text{
    font-size: 35px;
    font-weight: 900;
    color: #4E47FF;
}

.btn-one{
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    background-color: #4E47FF;
    color: white;
    border: none;
}
.hero-content{
    margin-top: 200px;
}
.hero-content h2{
    font-size: 60px;
    font-weight: 700;
    color: #252432;
}
/* nav and hero style ends here */

/* webflow section starts here */
.webflow-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.webflow-contents h4{
    font-size: 35px;
    font-weight: 700;
}
.webflow-contents p{
    font-size: 20px;
    color: #25243280;
}
.webflow-container img{
    border-radius: 40px;
}
/* webflow section style ends here */